div class="amenities"
  h3 Amenities
  div class="row"
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"
      span class="fa fa-car"
      | Garage
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"
      span class="fa fa-tint"
      | Outdoor Pool
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"
      span class="fa fa-leaf"
      | Garden
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"
      span class="fa fa-shield"
      | Security System
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"
      span class="fa fa-wifi"
      | Internet
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"
      span class="fa fa-phone"
      | Telephone
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"
      span class="fa fa-asterisk"
      | Air Conditioning
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"
      span class="fa fa-sun-o"
      | Heating
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"
      span class="fa fa-arrows-v"
      | Balcony
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"
      span class="fa fa-desktop"
      | TV Cable
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"
      span class="fa fa-group"
      | Conducive for family
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"
      span class="fa fa-bell"
      | Lobby
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"
      span class="fa fa-child"
      | Playground
    div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"
      span class="fa fa-soccer-ball-o"
      | Open Courts(Tennis, Soccer)
