<section id="comments">
    <header><h2 class="no-border">Comments</h2></header>
    <ul class="comments">
        <li class="comment">
            <figure>
                <div class="image">
                    <img alt="" src="assets/img/client-01.jpg">
                </div>
            </figure>
            <div class="comment-wrapper">
                <div class="name pull-left">Catherine Brown</div>
                <span class="date pull-right"><span class="fa fa-calendar"></span>12.05.2014</span>
                <div class="rating rating-individual" data-score="4"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum, sem ut sollicitudin consectetur,
                    augue diam ornare massa, ac vehicula leo turpis eget purus. Nunc pellentesque vestibulum mauris, eget suscipit
                    mauris imperdiet vel. Nulla et massa metus. Nam porttitor quam eget ante elementum consectetur. Aenean ac nisl
                    et nulla placerat suscipit eu a mauris. Curabitur quis augue condimentum, varius mi in, ultricies velit.
                    Suspendisse potenti.
                </p>
                <a href="#" class="reply"><span class="fa fa-reply"></span>Reply</a>
                <hr>
            </div>
        </li>
        <li>
            <ul class="comments-child">
                <li class="comment">
                    <figure>
                        <div class="image">
                            <img alt="" src="assets/img/agent-01.jpg">
                        </div>
                    </figure>
                    <div class="comment-wrapper">
                        <div class="name">John Doe</div>
                        <span class="date"><span class="fa fa-calendar"></span>24.06.2014</span>
                        <div class="rating rating-individual" data-score="3"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum, sem ut sollicitudin consectetur,
                            augue diam ornare massa, ac vehicula leo turpis eget purus. Nunc pellentesque vestibulum mauris, eget suscipit
                            mauris.
                        </p>
                        <a href="#" class="reply"><span class="fa fa-reply"></span>Reply</a>
                        <hr>
                    </div>
                </li>
            </ul>
        </li>
        <li class="comment">
            <figure>
                <div class="image">
                    <img alt="" src="assets/img/user-02.jpg">
                </div>
            </figure>
            <div class="comment-wrapper">
                <div class="name">John Doe</div>
                <span class="date"><span class="fa fa-calendar"></span>08.05.2014</span>
                <div class="rating rating-individual" data-score="5"></div>
                <p>Quisque iaculis neque at dui cursus posuere. Sed tristique pharetra orci, eu malesuada ante tempus nec.
                    Phasellus enim odio, facilisis et ante vel, tempor congue sapien. Praesent eget ligula
                    eu libero cursus facilisis vel non arcu. Sed vitae quam enim.
                </p>
                <a href="#" class="reply"><span class="fa fa-reply"></span>Reply</a>
                <hr>
            </div>
        </li>
    </ul>
</section>
