<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hi, my name is <%= @enquiry.name %>.</h1>
    <p>
      <%= @enquiry.content%>
    </p>
    <p>
    You can contact me via phone <%= @enquiry.contact_no%>, or email <%= @enquiry.email %>
    </p>
  </body>
</html>
