- content_for :meta do
  meta property="og:url" content=realestate_url(id: property.slug)
  meta property="og:description"   content=property.description.info
  meta property="og:image" content=property.images.first.url
