div class="col-md-8"
                <div class="box">
                    <div class="panel panel-default">
                            <p class="lTitle"> Inbox</p>
                            <div class="row tableContainer">
                                           <table id="inboxDB">
                                        <tr><!--First Line-->
                                        <td>
                                                                    <!--Search box-->
            <div class="input-group input-group-sm mb5">
                <input type="text" width="150px" class="form-control" placeholder="Search...">
                <span class="input-group-btn" width="50px"><a class="btn btn-sm btn-green"><span class="icon-magnifier"></span></a></span>
            </div>   
                                        </td>
                                         
                                            <td>
                                                <a href="#" class="btn btn-sm btn-red mb5"><span class="icon-trash"></span> Delete</a>
                                           
                                                <div class="btn-group mb5">
                                                <a data-toggle="dropdown" class="btn btn-sm btn-gray dropdown-toggle">
                                                <span class="dropdown-label">Bulk Actions</span> <span class="caret"></span>
                                                </a>

                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Mark as read</a></li>
                                                        <li><a href="#">Mark as unread</a></li>
                                                        <li><a href="#">Mark as important</a></li>
                                                        <li><a href="#">Mark as not important</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>                                            
                                    </table>
                                    
                                
                                        
                            
                        </div><!--/tableContainer-->
                        
                        <div class="table-overflow">
                            <table class="table" id="inboxTable">
                                <thead>
                                    <tr>
                                        <th style="width:10px;"><input type="checkbox"></th>
                                        <th style="width:10px;"><span class="fa fa-star-o"></span></th>
                                        <th><span class="fa fa-sort sortIcon"></span> FROM</th>
                                        <th><span class="fa fa-sort sortIcon"></span> SUBJECT</th>
                                        <th style="width:100px;">DATE</th>
                                    </tr>
                                </thead>
                                <tbody class="table">
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><span class="fa fa-star-o text-yellow"></span></td>
                                        <td>John Smith</td>
                                        <td>Modern Residence in New York</td>
                                        <td>6:07 pm</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><span class="fa fa-star-o text-yellow"></span></td>
                                        <td>Jane Smith</td>
                                        <td>Hauntingly Beautiful Estate</td>
                                        <td>Sep 27</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><span class="fa fa-star-o text-yellow"></span></td>
                                        <td>Rust Cohle</td>
                                        <td>Sophisticated Residence</td>
                                        <td>Sep 25</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><span class="fa fa-star-o text-yellow"></span></td>
                                        <td>Antony Iglesias</td>
                                        <td>House With a Lovely Glass Roof</td>
                                        <td>Sep 23</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><span class="fa fa-star-o text-yellow"></span></td>
                                        <td>John Smith</td>
                                        <td>Modern Residence in New York</td>
                                        <td>Sep 21</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><span class="fa fa-star-o text-yellow"></span></td>
                                        <td>Antony Iglesias</td>
                                        <td>House With a Lovely Glass Roof</td>
                                        <td>Sep 23</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><span class="fa fa-star-o text-yellow"></span></td>
                                        <td>John Smith</td>
                                        <td>Modern Residence in New York</td>
                                        <td>Sep 21</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><span class="fa fa-star-o text-yellow"></span></td>
                                        <td>John Smith</td>
                                        <td>Modern Residence in New York</td>
                                        <td>Sep 21</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                    </div> <!--END of table-overflow -->
                </div> <!--END of panel-default-->

                </div>

            </div>
        </div>
  </div>

