<div id="page-content">
    <div class="container">
        <header>
            <h1>Thank you!
                <br><br> The email will be sent to your inbox shortly. In the meantime...
            <br>
            <br>
            <a href='<%= realestates_url%>'>You can look for another property investments by visiting our property listings.</a>
           </h1>
        </header>
    </div><!-- /.container -->
</div>
