div class="home-caption"
  div class="home-title" = ENV['HOME_PAGE_CENTER_TEXT']
  div class="home-subtitle" = "with #{ENV['WEBSITE_TITLE']}"
  a href="/pages/explore" class="btn btn-lg btn-black" Explore
