div class="highlight"
  div class="h-title osLight" = "Find your new place with #{ENV['WEBSITE_TITLE']}"
  div class="h-text osLight" The home should be the treasure chest of living. - Le Corbusier -
