<!-- Left Side Navigation -->
<div id="leftSide">
    <nav class="leftNav scrollable">
        <div class="search">
            <span class="searchIcon icon-magnifier"></span>
            <input type="text" placeholder="Search for houses, apartments...">
            <div class="clearfix"></div>
        </div>
        <ul>
            <li><a href="<%= explore_pages_url%>" class="iconhighlight"><span class="navIcon fa icon-magnifier"></span><span class="navLabel">Explore</span></a></li>
            <li><a href="<%= dashboard_pages_url%>"><span class="navIcon fa icon-home"></span><span class="navLabel">Dashboard</span></a></li>
            <li><a href="#"><span class="navIcon fa icon-envelope"></span><span class="navLabel">Inbox</span></a></li>
        </ul>
    </nav>
</div>
<div class="closeLeftSide"></div>
<!--End Nav-->
